Here is just a test notebook.

In [55]:
#import packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy import units as u  
import time

I have two files, one from Einstein Observatory and one from ROSAT observatory. They both have detections. Each row in both files are a source detection. I want to see if they could be connected. My first way is to see if they are nearby each other. I want to compare every line in Einstein with every line in ROSAT. I'm trying to do this as fast as possible, or at least a way that isn't taking over 5 days.... these for loops are slow. I tried your np.where suggestion but I still have a for loop and I was wondering if there is a better way to do this.

In [57]:
#Here is one example
#here is all the data. The Einstein file has 46,000 lines and the ROSAT has 112,000 lines
#this takes almost 3 minutes

start = time.time() #start a time to see how long it takes

ROSAT = pd.read_csv("2rxs_lite.txt", delim_whitespace=True)  
Einstein = pd.read_csv("2sig_J2000_theta.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio

count = 0

for i in range(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?

    tmp = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & ( (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_ROSAT*(180/np.pi)) )  < 1 ) )  #conditions it need to meet

    if np.size(tmp) ==0: #is there a better way to do this? instead of the if... else statements
            continue

    else: 
        count += 1 #just to see how many matches we get
print(count)


print(f'Numpy: {time.time() - start} seconds')

46185
Numpy: 155.67349290847778 seconds

In [128]:
start = time.time() #start a time to see how long it takes

#Here is the other example with shorter files
#this one only takes 0.7 seconds

ROSAT = pd.read_csv("ROSAT-sorted.txt", delim_whitespace=True)  
Einstein = pd.read_csv("ets_short.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio
count = 0

theta = [] #the angular separation

for i in range(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?

    tmp = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & ( (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_Einstein[i]*(180/np.pi)) )  < 1 ) )  #conditions it need to meet

    if np.size(tmp) ==0: 
            continue
    else: 
        for j in tmp:
                count+= 1
                theta_rad = np.sin(DEC_Einstein[i]*180/np.pi)* np.sin(DEC_ROSAT[j]*180/np.pi) + np.cos(DEC_Einstein[i]*180/np.pi)*np.cos(DEC_ROSAT[j]*180/np.pi)*np.cos(np.absolute(RA_Einstein[i]-RA_ROSAT[i])*180/np.pi) #returns answer in rad
                theta_arcsec = np.arccos(theta_rad) * 206265
                theta.append(theta_arcsec) 
print(count)

print(np.size(theta))
print(f'Numpy: {time.time() - start} seconds')

328
328
Numpy: 1.5206270217895508 seconds

/Users/snegussie/Library/Python/3.8/lib/python/site-packages/numpy/core/fromnumeric.py:3245: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asarray(a).size

However, I want to do more than just find out how many lines have coordinates that could be near each other so I want to save those coordinates. I took the previous code and am adding to it.

In [188]:
start = time.time() #start a time to see how long it takes

#Here is the other example with shorter files
#this one only takes 0.7 seconds

ROSAT = pd.read_csv("rass_short.txt", delim_whitespace=True)  
Einstein = pd.read_csv("ets_short.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio
count = 0

theta = np.zeros(638) #the angular separation
k = 0

for i in range(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?
        #print("i =", i)
   
        tmp = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & ( (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_ROSAT*(np.pi/180)) )  < 1 ) )  #conditions it need to meet
        print(type(tmp))
        if np.size(tmp) ==0: 
                continue
        else: 
                for j in tmp:
                        count+= 1
                        theta_rad = np.sin(DEC_Einstein[i]*np.pi/180)* np.sin(DEC_ROSAT[j]*np.pi/180) + np.cos(DEC_Einstein[i]*np.pi/180)*np.cos(DEC_ROSAT[j]*np.pi/180)*np.cos(np.absolute(RA_Einstein[i]-RA_ROSAT[i])*np.pi/180) #returns answer in rad
                        theta_arcsec = np.arccos(theta_rad) * 206265
                        print(theta_arcsec)
                        print(type(theta_arcsec))
                        #print(np.size(theta_arcsec))
                        #L = [k if theta_arcsec < 300]
                        #if theta_arcsec < 300:
                        if (theta_arcsec < 300).all: 
                                np.append(theta, theta_arcsec)
                                tmp_num = theta_arcsec
                                k += 1
                        #print(theta)
                
print(count)
print(np.size(theta))
#a = np.sin(90*np.pi/180)
#print(a)

ang_sep = np.zeros(count)
#for i in range(count):
    #ang_sep[i] = round(theta[i].value, 3)
#    ang_sep[i] = theta[0][i]

#print(np.shape(tmp))
print("Writing file")

with open(r'test.txt', 'w') as fp:
        for i in range(count):
            if i == 0:
                fp.write("Theta\n")
            else:
                fp.write("%f\n" %(theta[i]))

print(f'Numpy: {time.time() - start} seconds')

<class 'tuple'>
0      138.814945
1      138.814945
2      588.359061
3      787.241455
4      975.382096
5     1243.443356
6     1369.743136
7     1338.472574
8     1525.524728
9     1629.088507
10    1763.683722
11    1854.889768
12    1882.840956
13    2076.673184
14    2056.870073
15    2141.082433
16    2076.673184
17    2141.082433
18    2379.035200
19    2235.478571
20    2247.233979
21    2340.887758
22    2382.091378
23    2494.169676
24    2628.520467
25    2835.000189
26    3045.571491
27    3109.351808
28    3280.053332
29    3464.078717
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0       25.811705
1       25.811705
2      480.722026
3      682.691742
4      872.578210
5     1142.206827
6     1269.031183
7     1237.640013
8     1425.339613
9     1529.197661
10    1664.123508
11    1755.526248
12    1783.533890
13    1977.715704
14    1957.879906
15    2042.227078
16    1977.715704
17    2042.227078
18    2280.509101
19    2136.762235
20    2148.534136
21    2242.313387
22    2283.569079
23    2395.780302
24    2530.275474
25    2736.950385
26    2947.693459
27    3011.521210
28    3182.340604
29    3366.480037
30    3538.991576
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0      503.906771
1      503.906771
2        9.352503
3      203.109333
4      392.906362
5      662.501726
6      789.319335
7      757.929580
8      945.622408
9     1049.477970
10    1184.401393
11    1275.802858
12    1303.810155
13    1497.990029
14    1478.154399
15    1562.500896
16    1497.990029
17    1562.500896
18    1800.781450
19    1657.035402
20    1668.807229
21    1762.585935
22    1803.841412
23    1916.052110
24    2050.546753
25    2257.221013
26    2467.963571
27    2531.791189
28    2702.610267
29    2886.749418
30    3059.260733
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0      702.854192
1      702.854192
2      199.244776
3       25.162013
4      195.776120
5      464.502362
6      591.188461
7      559.825595
8      747.391848
9      851.201761
10     986.080476
11    1077.458119
12    1105.458918
13    1299.601557
14    1279.769204
15    1364.102433
16    1299.601557
17    1364.102433
18    1602.353151
19    1458.623919
20    1470.394243
21    1564.161799
22    1605.412788
23    1717.612387
24    1852.095519
25    2058.755055
26    2269.485390
27    2333.309745
28    2504.120921
29    2688.252687
30    2860.757954
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0      917.423655
1      917.423655
2      412.776075
3      210.906829
4       23.233968
5      249.112667
6      375.866688
7      344.487920
8      532.136091
9      635.979405
10     770.892481
11     862.289047
12     890.295078
13    1084.468261
14    1064.633182
15    1148.977490
16    1084.468261
17    1148.977490
18    1387.253539
19    1243.509961
20    1255.281559
21    1349.058619
22    1390.313455
23    1502.522623
24    1637.015759
25    1843.688208
26    2054.429363
27    2118.256621
28    2289.074855
29    2473.213249
30    2645.723969
31    3507.811699
32    3575.347468
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1148.293027
1     1148.293027
2      643.709732
3      441.856249
4      252.298639
5       27.032346
6      146.346133
7      115.330074
8      301.945230
9      405.634848
10     540.439285
11     631.789584
12     659.784111
13     853.899048
14     834.068625
15     918.394583
16     853.899048
17     918.394583
18    1156.633744
19    1012.910257
20    1024.679990
21    1118.443640
22    1159.693289
23    1271.890112
24    1406.371135
25    1613.029028
26    1823.758836
27    1887.583171
28    2058.394500
29    2242.526660
30    2415.032423
31    3277.103352
32    3344.638178
33    3476.540023
34    3536.695097
35    3544.758975
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1293.706764
1     1293.706764
2      789.008319
3      587.031558
4      397.167669
5      127.764391
6        9.457399
7       33.343115
8      156.010844
9      259.756688
10     394.626161
11     486.009013
12     514.012045
13     708.172460
14     688.338255
15     772.679269
16     708.172460
17     772.679269
18    1010.949902
19     867.209072
20     878.980395
21     972.755597
22    1014.009772
23    1126.217500
24    1260.709406
25    1467.380623
26    1678.121009
27    1741.948096
28    1912.765972
29    2096.904100
30    2269.414647
31    3131.502052
32    3199.037815
33    3330.941388
34    3391.097207
35    3399.161183
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1298.765695
1     1298.765695
2      794.437208
3      592.784883
4      403.521791
5      137.830728
6       40.342421
7       54.137668
8      156.454393
9      258.229090
10     392.084825
11     483.101558
12     511.018569
13     704.770375
14     684.967294
15     769.187049
16     704.770375
17     769.187049
18    1007.224795
19     863.609083
20     875.368616
21     969.060115
22    1010.282389
23    1122.415207
24    1256.834949
25    1463.421123
26    1674.096410
27    1737.906896
28    1908.685805
29    2092.789051
30    2265.272064
31    3127.267394
32    3194.798042
33    3326.692225
34    3386.844004
35    3394.907450
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1464.412648
1     1464.412648
2      959.693878
3      757.699006
4      567.800921
5      298.168223
6      171.351880
7      202.739623
8       15.324775
9       88.901424
10     223.797374
11     315.195313
12     343.202111
13     537.381299
14     517.545618
15     601.892413
16     537.381299
17     601.892413
18     840.174402
19     696.427432
20     708.199330
21     801.978635
22     843.234384
23     955.445829
24    1089.941342
25    1296.616843
26    1507.360529
27    1571.188461
28    1742.008326
29    1926.148238
30    2098.660198
31    2960.752350
32    3028.288377
33    3160.192436
34    3220.348464
35    3228.412468
36    3522.676622
37    3588.592659
38    3550.972638
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1563.967422
1     1563.967422
2     1059.367382
3      857.459113
4      667.690096
5      398.450851
6      272.086129
7      303.327441
8      117.724291
9       29.998604
10     127.607106
11     217.698373
12     245.498466
13     438.968618
14     419.175258
15     503.365167
16     438.968618
17     503.365167
18     741.396848
19     597.776983
20     609.536216
21     703.229782
22     744.454659
23     856.597186
24     991.030672
25    1197.638022
26    1408.332825
27    1472.148714
28    1642.940954
29    1827.056877
30    1999.550372
31    2861.583621
32    2929.116499
33    3061.014807
34    3121.168375
35    3129.232056
36    3423.485474
37    3489.399354
38    3451.780554
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1695.883793
1     1695.883793
2     1191.189529
3      989.211323
4      799.336341
5      529.762894
6      402.997110
7      434.370322
8      246.849905
9      143.298412
10      16.374328
11      85.010813
12     112.710362
13     306.302616
14     286.490324
15     370.755055
16     306.302616
17     370.755055
18     608.928527
19     465.233632
20     477.000076
21     570.744022
22     611.987668
23     724.173209
24     858.646643
25    1065.299134
26    1276.027067
27    1339.851211
28    1510.662518
29    1694.795146
30    1867.301589
31    2729.376654
32    2796.911789
33    2928.814223
34    2988.969559
35    2997.033472
36    3291.294619
37    3357.210055
38    3319.590374
39    3506.608864
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1738.889098
1     1738.889098
2     1236.393756
3     1035.894467
4      848.049701
5      583.617996
6      461.329612
7      491.383700
8      315.581759
9      226.664233
10     144.768692
11     145.048896
12     156.232400
13     301.521527
14     284.012617
15     360.137707
16     301.521527
17     360.137707
18     587.456016
19     448.964369
20     460.184728
21     550.393810
22     590.431437
23     700.045730
24     832.340875
25    1036.739378
26    1245.935106
27    1309.392166
28    1479.376470
29    1662.807491
30    1834.784178
31    2695.226838
32    2762.677085
33    2894.425144
34    2954.514650
35    2962.569941
36    3256.545672
37    3322.404102
38    3284.816676
39    3471.681716
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1817.310612
1     1817.310612
2     1312.601112
3     1110.612109
4      920.721562
5      651.104637
6      524.295788
7      555.682229
8      368.025662
9      264.220974
10     129.497603
11      39.044114
12      14.053924
13     184.780691
14     164.978448
15     249.220054
16     184.780691
17     249.220054
18     487.402508
19     343.698884
20     355.465897
21     449.215521
22     490.461847
23     602.654262
24     737.134685
25     943.795471
26    1154.529638
27    1218.355345
28    1389.170271
29    1573.306074
30    1745.814979
31    2607.897968
32    2675.433529
33    2807.336742
34    2867.492411
35    2875.556368
36    3169.818970
37    3235.734699
38    3198.114852
39    3385.134131
40    3570.857509
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1934.965404
1     1934.965404
2     1432.087177
3     1231.250765
4     1042.849551
5      776.593166
6      652.318688
7      682.991224
8      500.918008
9      402.403443
10     280.245380
11     206.721369
12     187.369266
13     159.304145
14     151.371412
15     197.064747
16     159.304145
17     197.064747
18     400.861920
19     271.274363
20     281.370048
21     365.396632
22     403.724711
23     510.288412
24     640.561327
25     843.335990
26    1051.667166
27    1114.943356
28    1284.555223
29    1467.706807
30    1639.493752
31    2499.459847
32    2566.889567
33    2698.601329
34    2758.675760
35    2766.729096
36    3060.642367
37    3126.488855
38    3088.908164
39    3275.741663
40    3461.300407
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     1968.881846
1     1968.881846
2     1464.225150
3     1262.268775
4     1072.419704
5      802.893547
6      676.150556
7      707.518674
8      520.000439
9      416.315252
10     281.806805
11     191.023647
12     163.344564
13      42.698179
14      30.067441
15     101.260600
16      42.698179
17     101.260600
18     336.964064
19     194.019788
20     205.683851
21     298.906419
22     340.014323
23     451.960106
24     586.271203
25     792.785354
26    1003.433029
27    1067.239375
28    1238.012435
29    1422.114506
30    1594.598955
31    2456.611595
32    2524.143690
33    2656.040647
34    2716.193666
35    2724.257277
36    3018.508517
37    3084.422000
38    3046.803423
39    3233.816684
40    3419.534740
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2089.395974
1     2089.395974
2     1584.678014
3     1382.683345
4     1192.785066
5      923.148852
6      796.323579
7      827.714823
8      640.016491
9      536.161386
10     401.243605
11     309.851647
12     281.848911
13      87.794279
14     107.595630
15      23.797657
16      87.794279
17      23.797657
18     215.266723
19      71.672459
20      83.411945
21     177.087218
22     218.325651
23     330.512103
24     464.993794
25     671.659072
26     882.397405
27     946.224204
28    1117.041698
29    1301.179782
30    1473.690460
31    2335.779138
32    2403.315003
33    2535.218770
34    2595.374676
35    2603.438664
36    2897.702297
37    2963.618232
38    2925.998268
39    3113.018105
40    3298.741981
41    3597.397847
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2126.614575
1     2126.614575
2     1623.412853
3     1422.326071
4     1233.551873
5      966.268790
6      841.069898
7      872.014818
8      687.587764
9      586.435297
10     456.843000
11     371.220135
12     345.576865
13     187.432635
14     200.706580
15     154.325374
16     187.432635
17     154.325374
18     232.756486
19     149.236620
20     152.743805
21     204.123824
22     235.167948
23     331.085066
24     455.958305
25     655.312992
26     862.149455
27     925.142048
28    1094.202735
29    1276.970843
30    1448.512931
31    2307.926039
32    2375.334206
33    2507.008388
34    2567.067416
35    2575.118761
36    2868.969621
37    2934.804433
38    2897.230316
39    3084.033267
40    3269.566298
41    3567.956913
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2154.500622
1     2154.500622
2     1650.365658
3     1448.718043
4     1259.247466
5      990.499927
6      864.284023
7      895.508409
8      709.027064
9      606.168054
10     473.194057
11     383.889354
12     356.737543
13     176.029602
14     193.294119
15     125.262875
16     176.029602
17     125.262875
18     177.047517
19      91.171974
20      92.978458
21     145.580928
22     179.681319
23     282.266305
24     411.892389
25     615.173771
26     824.196941
27     887.664342
28    1057.732825
29    1241.293928
30    1413.400270
31    2274.386695
32    2341.870468
33    2473.680694
34    2533.797172
35    2541.856017
36    2835.951961
37    2901.834995
38    2864.233624
39    3051.165558
40    3236.812190
41    3535.360857
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2180.827042
1     2180.827042
2     1676.177794
3     1474.223774
4     1284.375335
5     1014.841810
6      888.086297
7      919.458491
8      731.898246
9      628.154740
10     493.451344
11     402.285086
12     374.373150
13     181.670419
14     201.224531
15     118.723712
16     181.670419
17     118.723712
18     128.080242
19      37.710598
20      33.097251
21      91.606836
22     131.044714
23     241.405968
24     375.133402
25     581.320052
26     791.827949
27     855.607395
28    1026.327186
29    1210.390884
30    1382.849875
31    2244.799418
32    2312.328770
33    2444.220855
34    2504.371842
35    2512.435188
36    2806.677938
37    2872.589783
38    2834.972130
39    3021.981045
40    3207.695336
41    3506.337918
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2181.490100
1     2181.490100
2     1676.778060
3     1474.786863
4     1284.892810
5     1015.265190
6      888.445665
7      919.835347
8      732.148206
9      628.301909
10     493.400387
11     402.024469
12     374.027829
13     180.020037
14     199.822324
15     115.697620
16     180.020037
17     115.697620
18     123.611518
19      23.407686
20      14.168219
21      85.636745
22     126.659552
23     238.644436
24     373.048188
25     579.665957
26     790.382039
27     854.204321
28    1025.012557
29    1209.143649
30    1381.649499
31    2243.725312
32    2311.260579
33    2443.163275
34    2503.318731
35    2511.382660
36    2805.644384
37    2871.559945
38    2833.940193
39    3020.959033
40    3206.682036
41    3505.336692
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2235.139253
1     2235.139253
2     1730.437831
3     1528.452791
4     1338.566164
5     1068.953424
6      942.143691
7      973.530723
8      785.862369
9      682.030565
10     547.155234
11     455.804670
12     427.817620
13     233.917003
14     253.704165
15     169.642764
16     233.917003
17     169.642764
18      71.573858
19      76.184892
20      64.766641
21      35.667667
22      74.548957
23     185.564741
24     319.729391
25     526.226155
26     736.890994
27     800.703259
28     971.491357
29    1155.607583
30    1328.103334
31    2190.152874
32    2257.686943
33    2389.587497
34    2449.742053
35    2457.805865
36    2752.063790
37    2817.978611
38    2780.359277
39    2967.376143
40    3153.097419
41    3451.749694
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2274.950178
1     2274.950178
2     1770.309513
3     1568.359655
4     1378.515415
5     1108.987498
6      982.233541
7     1013.605486
8      826.044117
9      722.294922
10     587.569397
11     496.365099
12     468.433880
13     275.211893
14     294.891661
15     211.410045
16     275.211893
17     211.410045
18      46.561722
19     119.302610
20     108.126943
21      36.636120
22      48.583887
23     149.501653
24     281.943695
25     487.659809
26     698.009358
27     761.760934
28     932.427886
29    1116.455389
30    1288.891196
31    2150.785951
32    2218.313000
33    2350.201012
34    2410.350306
35    2418.413433
36    2712.649144
37    2778.559637
38    2740.942747
39    2927.948083
40    3113.659284
41    3412.297663
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2297.468604
1     2297.468604
2     1792.748253
3     1590.752135
4     1400.852042
5     1131.211961
6     1004.383954
7     1035.775953
8      848.071992
9      744.212060
10     609.284233
11     517.880439
12     489.872524
13     295.689693
14     315.525497
15     231.178583
16     295.689693
17     231.178583
18       7.250337
19     136.645510
20     124.874194
21      31.118434
22      10.268605
23     122.390341
24     256.882157
25     463.556602
26     674.300121
27     738.128051
28     908.947955
29    1093.087941
30    1265.599978
31    2127.692465
32    2195.228514
33    2327.132612
34    2387.288657
35    2395.352664
36    2689.616894
37    2755.532947
38    2717.912917
39    2904.933068
40    3090.657222
41    3389.313474
42    3596.493651
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2409.961030
1     2409.961030
2     1906.687742
3     1705.510398
4     1516.578562
5     1248.818021
6     1123.185084
7     1154.256942
8      968.774545
9      866.555075
10     734.446161
11     645.614751
12     618.545107
13     434.153170
14     452.613465
15     375.087844
16     434.153170
17     375.087844
18     190.508834
19     292.717065
20     282.992885
21     213.038775
22     188.921886
23     162.928459
24     220.827834
25     391.689640
26     590.004630
27     651.609540
28     818.158367
29     999.310500
30    1169.870111
31    2027.163220
32    2094.489704
33    2226.021117
34    2286.021455
35    2294.065208
36    2587.676623
37    2653.466270
38    2615.917604
39    2802.601879
40    2988.034054
41    3286.289931
42    3493.232555
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2466.783649
1     2466.783649
2     1962.912173
3     1761.391979
4     1572.050717
5     1303.483470
6     1177.329680
7     1208.541657
8     1022.078269
9      919.121814
10     785.722940
11     695.690014
12     668.176666
13     479.001626
14     498.149214
15     417.173604
16     479.001626
17     417.173604
18     203.778132
19     328.441067
20     317.626277
21     234.783979
22     201.401077
23     134.828205
24     156.623884
25     323.735643
26     524.049075
27     586.162954
28     753.805713
29     935.808714
30    1106.960196
31    1965.821055
32    2033.219476
33    2164.879512
34    2224.933850
35    2232.984639
36    2526.824196
37    2592.658327
38    2555.084534
39    2741.887341
40    2927.423121
41    3225.821915
42    3432.849796
Name: 55.12909, dtype: float64
<class 'pandas.core.series.Series'>
<class 'tuple'>
0     2769.862591
1     2769.862591
2     2265.177950
3     2063.201014
4     1873.322721
5     1603.722448
6     1476.918182
7     1508.303934
8     1320.641735
9     1216.810429
10    1081.927960
11     990.561870
12     962.566931
13     768.499709
14     788.321138
15     704.040778
16     768.499709
17     704.040778
18     466.080254
19     609.602851
20     597.845236
21     504.203825
22     463.026573
23     351.122344
24     217.413802
25      31.082877

In [ ]:
L = [i for i in range (1, 10000000) if i%130 == 0]
tmp = [i for i in range (0, np.size(DEC_Einstein)) if np.where( ((np.absolute(tmp_num - DEC_ROSAT) < 1)) & (np.absolute(RA_Einstein-RA_ROSAT) * np.cos(DEC_ROSAT*(180/np.pi))  < 1 ) ) ]
np.size(tmp)

638

In [60]:
start = time.time() #start a time to see how long it takes

#Here is the other example with shorter files
#this one only takes 0.7 seconds

ROSAT = pd.read_csv("ROSAT-sorted.txt", delim_whitespace=True)  
Einstein = pd.read_csv("ets_short.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio
count = 0

theta = [] #the angular separation
offset = [] # error in measurements

for i in range(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?
    tmp_array = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & 
                   ( (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_Einstein[i]*(np.pi/180)) )  < 1 ) )  #conditions it need to meet

    if np.size(tmp_array) ==0: 
            continue
    else: 

        #for j in range(np.size(tmp_array)):
        tmp_num = tmp_array[0][0]
        count+= 1
        theta_rad = np.sin(DEC_Einstein[tmp_num]*np.pi/180)* np.sin(DEC_ROSAT[tmp_num]*np.pi/180) + np.cos(DEC_Einstein[tmp_num]*np.pi/180)*np.cos(DEC_ROSAT[tmp_num]*np.pi/180)*np.cos(np.absolute(RA_Einstein[tmp_num]-RA_ROSAT[tmp_num])*np.pi/180) #returns answer in rad
        theta_arcsec = np.arccos(theta_rad) * 206265
        #print(theta_arcsec)
        
        #SNR
        if theta_arcsec <= 300: 
            if SNR_Einstein[i] >= 2 and SNR_Einstein[i] < 3:
                    poserr1 = 73 
            elif SNR_Einstein[i] >= 3 and SNR_Einstein[i] < 4:
                    poserr1 = 53 
            elif SNR_Einstein[i] >= 4 and SNR_Einstein[i] < 6:
                    poserr1 = 41 
            elif SNR_Einstein[i] >= 6:
                    poserr1 = 30 
            else:
                    continue
                    
            poserr2 = SNR_ROSAT[j]
            confid = theta_arcsec/np.sqrt(poserr1**2 + poserr2**2) #finding theta hat
            offset.append(confid)
            theta.append(theta_arcsec) 

#print(np.size(theta))
#print(np.size(count))
"""
ang_sep = np.zeros(count)
for i in range(count):
    #ang_sep[i] = round(theta[i].value, 3)
    ang_sep[i] = float("{:.1f}".format(theta[i]))

confidence_new = np.zeros(count)
for i in range(count):
    #ra_E_new[i] = round(RA_E[i].value, 1)
    confidence_new[i] = float("{:.2f}".format(offset[i]))

print("Writing file")

with open(r'test.txt', 'w') as fp:
        for i in range(count):
            if i == 0:
                fp.write("\tTheta\t\tOffset\n")
            else:
                fp.write("%8.1f\t%8.2f\n" %((ang_sep[i]), (confidence_new[i])  ))
"""
print(np.size(theta))
print("finished")

print(f'Numpy: {time.time() - start} seconds')

In [123]:
start = time.time() #start a time to see how long it takes

#Here is the other example with shorter files
#this one only takes 0.7 seconds

ROSAT = pd.read_csv("rass_.txt", delim_whitespace=True)  
Einstein = pd.read_csv("ets_short.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio
count = 0

theta = [] #the angular separation
offset = [] # error in measurements

for i in range(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?
    tmp_array = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & 
                   ( (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_Einstein[i]*(np.pi/180)) )  < 1 ) )  #conditions it need to meet

    if np.size(tmp_array) ==0: 
            continue
    else: 

        #for j in range(np.size(tmp_array)):
        tmp_num = tmp_array[0][0]
        count+= 1
        theta_rad = np.sin(DEC_Einstein[tmp_num]*np.pi/180)* np.sin(DEC_ROSAT[tmp_num]*np.pi/180) + np.cos(DEC_Einstein[tmp_num]*np.pi/180)*np.cos(DEC_ROSAT[tmp_num]*np.pi/180)*np.cos(np.absolute(RA_Einstein[tmp_num]-RA_ROSAT[tmp_num])*np.pi/180) #returns answer in rad
        theta_arcsec = np.arccos(theta_rad) * 206265
        #print(theta_arcsec)
        
        #SNR
        if theta_arcsec <= 300: 
            if SNR_Einstein[i] >= 2 and SNR_Einstein[i] < 3:
                    poserr1 = 73 
            elif SNR_Einstein[i] >= 3 and SNR_Einstein[i] < 4:
                    poserr1 = 53 
            elif SNR_Einstein[i] >= 4 and SNR_Einstein[i] < 6:
                    poserr1 = 41 
            elif SNR_Einstein[i] >= 6:
                    poserr1 = 30 
            else:
                    continue
                    
            poserr2 = SNR_ROSAT[j]
            confid = theta_arcsec/np.sqrt(poserr1**2 + poserr2**2) #finding theta hat
            offset.append(confid)
            theta.append(theta_arcsec) 

#print(np.size(theta))
#print(np.size(count))
"""
ang_sep = np.zeros(count)
for i in range(count):
    #ang_sep[i] = round(theta[i].value, 3)
    ang_sep[i] = float("{:.1f}".format(theta[i]))

confidence_new = np.zeros(count)
for i in range(count):
    #ra_E_new[i] = round(RA_E[i].value, 1)
    confidence_new[i] = float("{:.2f}".format(offset[i]))

print("Writing file")

with open(r'test.txt', 'w') as fp:
        for i in range(count):
            if i == 0:
                fp.write("\tTheta\t\tOffset\n")
            else:
                fp.write("%8.1f\t%8.2f\n" %((ang_sep[i]), (confidence_new[i])  ))
"""
print(np.size(theta))
print("finished")

print(f'Numpy: {time.time() - start} seconds')

KeyError: 2457

In [110]:
#tesing


#works now


start = time.time() #start a time to see how long it takes

#Here is the other example with shorter files
#this one only takes 0.7 seconds

ROSAT = pd.read_csv("rass_short.txt", delim_whitespace=True)  
Einstein = pd.read_csv("ets_short.txt", delim_whitespace=True)

RA_ROSAT = ROSAT.iloc[:, 2] #right ascention
DEC_ROSAT = ROSAT.iloc[:, 3] #decllination
SNR_ROSAT = ROSAT.iloc[:, 4] #signal to noise ratio

RA_Einstein = Einstein.iloc[:, 0] #right ascention
DEC_Einstein = Einstein.iloc[:, 1] #decllination
SNR_Einstein = Einstein.iloc[:, 2] #signal to noise ratio
count = 0

theta = [] #the angular separation
offset = [] # error in measurements

for i in range(10):#(np.size(DEC_Einstein)): # i was wondering, is there a better way to do this instead of a for loop since it is so slow?
    print("i =", i)
    tmp_array = np.where( ((np.absolute(DEC_Einstein[i] - DEC_ROSAT) < 1)) & (np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_Einstein[i]*(np.pi/180))   < 1) )  #conditions it need to meet

    #print(np.absolute(RA_Einstein[i]-RA_ROSAT[i]) * np.cos(DEC_ROSAT*(np.pi/180)))
    print(tmp_array)
    print("tmp arrary size= ",np.size(tmp_array))
#    print("t2",np.size(tmp_array2))
    #print(DEC_ROSAT)
    if np.size(tmp_array) ==0: 
            continue
    else: 
        count += 1

        for j in range(np.size(tmp_array)):
                count += 1
                tmp_num = tmp_array[0][0]
                theta_rad = np.sin(DEC_Einstein[tmp_num]*np.pi/180)* np.sin(DEC_ROSAT[tmp_num]*np.pi/180) + np.cos(DEC_Einstein[tmp_num]*np.pi/180)*np.cos(DEC_ROSAT[tmp_num]*np.pi/180)*np.cos(np.absolute(RA_Einstein[tmp_num]-RA_ROSAT[tmp_num])*np.pi/180) #returns answer in rad
                theta_arcsec = np.arccos(theta_rad) * 206265
                #print(theta_arcsec)
                
                #SNR
                if theta_arcsec <= 300: 
                        

                        if SNR_Einstein[i] >= 2 and SNR_Einstein[i] < 3:
                                poserr1 = 73 
                        elif SNR_Einstein[i] >= 3 and SNR_Einstein[i] < 4:
                                poserr1 = 53 
                        elif SNR_Einstein[i] >= 4 and SNR_Einstein[i] < 6:
                                poserr1 = 41 
                        elif SNR_Einstein[i] >= 6:
                                poserr1 = 30 
                        else:
                                continue
                                
                        poserr2 = SNR_ROSAT[i]
                        confid = theta_arcsec/np.sqrt(poserr1**2 + poserr2**2) #finding theta hat
                        
                        offset.append(confid)
                        theta.append(theta_arcsec) 

#print(np.size(theta))
#print(np.size(count))
"""
ang_sep = np.zeros(count)
for i in range(count):
    #ang_sep[i] = round(theta[i].value, 3)
    ang_sep[i] = float("{:.1f}".format(theta[i]))

confidence_new = np.zeros(count)
for i in range(count):
    #ra_E_new[i] = round(RA_E[i].value, 1)
    confidence_new[i] = float("{:.2f}".format(offset[i]))

print("Writing file")

with open(r'test.txt', 'w') as fp:
        for i in range(count):
            if i == 0:
                fp.write("\tTheta\tOffset\n")
            else:
                fp.write("%8.1f\t%8.2f\n" %((ang_sep[i]), (confidence_new[i])  ))
"""
print(np.size(count))
print("finished")

print(f'Numpy: {time.time() - start} seconds')

i = 0
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]),)
tmp arrary size=  30
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 1
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]),)
tmp arrary size=  31
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 2
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]),)
tmp arrary size=  31
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 3
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]),)
tmp arrary size=  31
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 4
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]),)
tmp arrary size=  33
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 5
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35]),)
tmp arrary size=  36
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 6
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35]),)
tmp arrary size=  36
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 7
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35]),)
tmp arrary size=  36
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 8
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38]),)
tmp arrary size=  39
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
i = 9
(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38]),)
tmp arrary size=  39
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes
1
finished
Numpy: 0.04378223419189453 seconds

In [189]:
ROSAT = np.loadtxt("rass_short.txt", delimiter=" ")  
Einstein = np.loadtxt("ets_short.txt", delimiter=" ")

RA_ROSAT = ROSAT[:, 2] #right ascention
DEC_ROSAT = ROSAT[:, 3] #decllination
SNR_ROSAT = ROSAT[:, 4] #signal to noise ratio

RA_Einstein = Einstein[:, 0] #right ascention
DEC_Einstein = Einstein[:, 1] #decllination
SNR_Einstein = Einstein[:, 2] #signal to noise ratio

ValueError: could not convert string to float: '2RXS'